.App {
    min-height: 100vh;
}

@font-face {
    font-family: 'noaddedsugar';
    src: local('noaddedsugar'),
        url('./fonts/No Added Sugar.woff') format('woff');
}

html body {
    font-family: 'noaddedsugar';
}

html,
body,
.App,
.App > div {
    min-height: 100vh;
}

.avatar {
    width: 100px;
    height: auto;
}

.hover:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}

.sh {
    text-shadow: 3px 3px 0px #0174aa;
}

.spotifyLogoBtn {
    padding: 0px;
    height: 1.5rem;
    fill: #fff;
    padding-right: 0.5rem;
}

.cp {
    cursor: pointer;
}