.App {
    min-height: 100vh;
}

html,
body,
.App,
.App > div {
    min-height: 100vh;
}

.avatar {
    width: 100px;
    height: auto;
}

.hover:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}
